name: Deploy Puffnod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: kehem
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/html/puffnod
            git pull origin main
